@import url('https://fonts.googleapis.com/css2?family=Anton&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul, li {
  list-style: none;
}

a, a:hover, a:visited, a:active {
  text-decoration: none;
}

body {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Montserrat", sans-serif;
}
